<section class="w-full landing flex items-center">
    <div class="h-full w-half  flex flex-col items-center justify-center">
        <h1>Ariyan Esmaeili</h1>
        <p class="w-half">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vitae incidunt suscipit fugit corporis, magnam nobis error molestias quam. Numquam voluptate perspiciatis autem in, pariatur maxime nesciunt delectus temporibus tempore.
        </p>
        <button class="action-button">Contact Me</button>
    </div>
    <div class="h-full w-half flex flex-col items-center justify-center" >
        <img src="../../../assets/illustration.png" class="w-half" alt="illustration">
    </div>
</section>