body,html {
    margin: 0;
    background-color: black;
    color: white;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-flow: column;
}

.flex-row {
    flex-flow: row;
}
.grow {
    flex-grow: 1;
}